footer.footer
	.container
		.footer__wrapper.d-flex.align-items-center.justify-content-between
			.footer__detail
				img.footer__logo(src='images/logo-black.svg' alt='TruChitosan')
				p a wholly-owned subsidiary of #[br] The trū Shrimp Companies, LLC
				ul.footer__social.d-flex
					//- li
					//- 	a(href='https://www.facebook.com/truShrimp/' target='_blank')
					//- 		span
					//- 			img(src='images/icons/facebook.svg' alt='' loading="lazy")
					//- li
					//- 	a(href='https://twitter.com/trushrimp' target='_blank')
					//- 		span
					//- 			img(src='images/icons/twitter.svg' alt='' loading="lazy")
					//- li
					//- 	a(href='https://www.youtube.com/channel/UCQyMOgaSxaUVP3dWLtiusjA' target='_blank')
					//- 		span
					//- 			img(src='images/icons/youtube.svg' alt='' loading="lazy")
					//- li
					//- 	a(href='https://www.instagram.com/truShrimp/' target='_blank')
					//- 		span
					//- 			img(src='images/icons/instagram.svg' alt='' loading="lazy")
			.footer__links
				.footer__links-wrapper.d-flex
					.footer__links-item
						p.h4 COMPANIES
						ul
							li
								a(target='_blank' href='https://www.trushrimpcompany.com/our-products') trū Shrimp
							li
								a(href='/') trū Chitosan
							li
								a(target='_blank' href='https://www.trushrimpcompany.com/tr%C5%AB-protein') trū Protein
					.footer__links-item
						p.h4 OUR CHITOSAN
						ul
							li
								a(href='#') Products
							li
								a(href='#') About Chitosan
							li
								a(href='#') The trū Difference
					.footer__links-item
						p.h4 CONTACT
						ul
							li
								a(href='mailto:info@trushrimp.com') info@trushrimp.com
						p 330 3rd St.,Balaton, MN
	.d-md-none
		ul.footer__copyright-links.d-flex.justify-content-center
			li
				a(href='https://www.trushrimpcompany.com/privacy-policy' target='_blank') Privacy Policy
			li
				a(href='https://www.trushrimpcompany.com/terms-of-use' target='_blank') Terms of Service
	.container
		.footer__copyright
			.footer__copyright-wrapper.d-flex
				p © 2023 trū Chitosan. All rights reserved.
				ul.footer__copyright-links.d-md-flex.d-none
					li
						a(href='https://www.trushrimpcompany.com/privacy-policy' target='_blank') Privacy Policy
					li
						a(href='https://www.trushrimpcompany.com/terms-of-use' target='_blank') Terms of Service