footer.footer
	.container
		.footer__wrapper.d-flex.align-items-center.justify-content-between
			.footer__detail
				img.footer__logo(src='images/logo-white.svg' alt='Yudhi Rental')
				ul.footer__social.d-flex
					li
						a(href='https://www.facebook.com/truShrimp/' target='_blank')
							span
								img(src='images/icons/facebook.svg' alt='' loading="lazy")
			.footer__links
				.footer__links-wrapper.d-flex
					.footer__links-item
						p.h4 CONTACT
						ul
							li
								a(href='tel:+628179785066') +62 817-9785-066
						p Perum Pesona Taman Kwanji #[br]JL Panji, GG Pesona Taman Kwanji blok C no 4 #[br]Kwanji Dalung Kuta Utara
	.container
		.footer__copyright
			.footer__copyright-wrapper.d-flex
				p © 2023 
					a(href="https://wijayaac.netlify.app/" target="_blank" rel="noopener noreferrer") wijayaac.
					|  All rights reserved.