header.header
	.header__wrapper
		.header__logo-wrapper
			a(href='/' title='logo')
				img(src='images/logo-white.svg' alt='')
		a(href='#' title="cta" class='header__nav-item header__nav-item--cta') Contact
