header.header
	.header__wrapper
		.header__logo-wrapper
			a(href='/' title='logo')
				img(src='images/logo-white.svg' alt='' class='white' loading="lazy")
				img(src='images/logo-black.svg' alt='' class='black' loading="lazy")
		a(href='https://api.whatsapp.com/send?phone=628179785066&text=Hi%20Made%2C%20I%20want%20to%20ask%20about%20rent!' title="cta" class='header__nav-item header__nav-item--cta' target='_blank') Contact
