extends layout.pug

block content
	//- banner
	div.banner.banner--hero
		div.banner__background
			img(src='images/home-banner.jpg' alt='TRŪ CHITOSAN')
		div.banner__overlay
			div.banner__content.color-white
				div
					p.caption TRŪ CHITOSAN
					h1.heading.heading--border Medical-grade chitosan
						br
						|  from shrimp shells.
				//- div.banner__cta
					a.cta.cta--white(href='#') Place an order
	//- text
	div.text.section
		div.text__wrapper.container
			h2.text__heading Lorem ipsum dolor.
			p.text__copy Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat dignissimos delectus provident. Neque quidem ut dolorem quis veniam veritatis. Distinctio incidunt provident odit quod nisi laudantium eaque asperiores officia consequuntur possimus commodi deserunt repudiandae magnam esse maiores est, deleniti ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque harum quasi vitae tempora est nam saepe, distinctio quia velit consectetur, rerum quas, sit excepturi ratione!
	//- column icon
	div.text-icon.section
		div.container
			div.row
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/usp.svg" alt="" loading="lazy")
						h2.heading.h3 USP-NF Conforming
						p Meets all monograph requirements #[br] set forth by US Pharmacopeia
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/gmp.svg" alt="" loading="lazy")
						h2.heading.h3 GMP Compliant
						p adheres to manufacturing processes required by US Food & Drug Admin.
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/source.svg" alt="" loading="lazy")
						h2.heading.h3 Single-Source Chitosan
						p consistent, traceable supply with Certificate of Origin included
	//- text media - small matic
	div.text-media.text-media--right.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-matic-small.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR CHITOSAN SOURCE
						h2.heading.heading--border Premium whiteleg shrimp.
						p All our raw exoskeleton material is sourced exclusively from #[br] trū Shrimp's captive shrimp production, which raises high-quality shrimp in a controlled environment free from pollution, disease or antibiotics.
						div.text-media__cta
							a.cta.cta--green(href="#") The trū difference
	//- text media - big matic
	div.text-media.text-media--left.text-media--dark.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-matic-big.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR CHITOSAN SOURCE
						h2.heading.heading--border Premium whiteleg shrimp.
						p All our raw exoskeleton material is sourced exclusively from #[br] trū Shrimp's captive shrimp production, which raises high-quality shrimp in a controlled environment free from pollution, disease or antibiotics.
						div.text-media__cta
							a.cta.cta--green(href="#") The trū difference
	//- text media - manual
	div.text-media.text-media--right.text-media--gray.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-manual.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR CHITOSAN SOURCE
						h2.heading.heading--border Premium whiteleg shrimp.
						p All our raw exoskeleton material is sourced exclusively from #[br] trū Shrimp's captive shrimp production, which raises high-quality shrimp in a controlled environment free from pollution, disease or antibiotics.
						div.text-media__cta
							a.cta.cta--green(href="#") The trū difference
	//- product listing ?
	div.product.section
		div.product__wrapper.container
			h2.product__heading Pick Lorem, ipsum dolor.
			div.row.justify-content-center
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
	//- contact
	div.text.text--gray.section
		div.text__wrapper.container
			h2.text__heading Lorem ipsum dolor Lorem.
			div.text-media__cta
				a.cta.cta--green(href="#") Contact
