extends layout.pug

block content
	//- banner
	div.banner.banner--hero
		div.banner__background
			img(src='images/home-banner.jpg' alt='TRŪ CHITOSAN')
		div.banner__overlay
			div.banner__content.color-white
				div
					h1.heading.heading--border Experience Bali on Two Wheels
					p Unlock the freedom to explore the stunning beauty of Bali with Yudhi Rental. Discover our wide range of quality motorcycles and start your thrilling adventure today!
	//- text
	div.text.section
		div.text__wrapper.container
			h2.text__heading Your Gateway to Bali Adventures
			p.text__copy With over [X years] of experience in the motorcycle rental industry, Yudhi Rental has been a trusted partner for visitors in Bali. We take pride in providing exceptional service and ensuring customer satisfaction. Our commitment to keeping our customers happy sets us apart. Choose Yudhi Rental for a memorable and hassle-free riding experience.
	//- column icon
	div.text-icon.section
		div.container
			div.row
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/reliable.svg" alt="" loading="lazy")
						h2.heading.h3 Reliable and Well-Maintained Bikes
						p Count on our top-notch, well-maintained bikes for a smooth and safe journey throughout Bali.
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/convenience.svg" alt="" loading="lazy")
						h2.heading.h3 Convenient Pickup and Drop-off
						p Effortlessly rent a motorcycle with our multiple convenient locations, including the airport.
				div.col-12.col-md-4
					div.text-icon__item
						img(src="images/icons/service.svg" alt="" loading="lazy")
						h2.heading.h3 Exceptional Customer Support
						p Enjoy peace of mind with our dedicated customer support, ready to assist you throughout your rental.
	//- text media - small matic
	div.text-media.text-media--right.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-matic-small.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR BIKES
						h2.heading.heading--border Discover the Power of Big Matic Bikes
						p Experience the thrill of riding our Big Matic motorcycles. These powerful bikes provide a comfortable and exhilarating journey, allowing you to explore Bali's scenic roads with ease. Take your adventure to the next level with our Big Matic bike rentals.
						div.text-media__cta
							a.cta.cta--green(href="#") Book Now
	//- text media - big matic
	div.text-media.text-media--left.text-media--dark.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-matic-big.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR BIKES
						h2.heading.heading--border Efficiency and Style with Normal Matic Bikes
						p Our Normal Matic bikes combine efficiency and style, making them perfect for city exploration and short trips. These easy-to-ride motorcycles offer fuel efficiency and a smooth ride, enabling you to navigate Bali's streets effortlessly.
						div.text-media__cta
							a.cta.cta--green(href="#") Book Now
	//- text media - manual
	div.text-media.text-media--right.text-media--gray.section
		div.container
			div.row
				div.col-12.col-lg-6
					div.text-media__asset
						img(src="images/home-manual.jpg" alt="" loading="lazy")
				div.col-12.col-lg-6
					div.text-media__content.color-green
						p.caption OUR BIKES
						h2.heading.heading--border Embrace the Thrill of Manual Transmission Bikes
						p For motorcycle enthusiasts seeking an authentic riding experience, our Manual Transmission bikes are the perfect choice. Feel the adrenaline as you shift gears and conquer Bali's winding roads. Unleash your passion for riding with our Manual Transmission bike rentals.
						div.text-media__cta
							a.cta.cta--green(href="#") Book Now
	//- product listing ?
	div.product.section
		div.product__wrapper.container
			h2.product__heading Pick Lorem, ipsum dolor.
			div.row.justify-content-center
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
				div.col-12.col-md-4
					.product__card
						.product__card-image
							img(src="images/home-manual.jpg" alt="" loading="lazy")
						.product__card-text
							h3.h5 Yamaha Lorem, ipsum dolor.
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, tempore! Mollitia quasi dolorum magnam blanditiis, ipsa consequatur sit id error.
	//- contact
	div.text.text--gray.section
		div.text__wrapper.container
			h2.text__heading Start Your Adventure Today
			div.text-media__cta
				a.cta.cta--green(href="#") Book Now
